.header {
    height: 80px;
    color: white;
    background-color: #4b565e;
    display: flex;
    justify-content: space-between;
    padding: 0 240px;
    align-items: center;
}

.header-left {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav-item {
    margin-right: 20px;
    font-size: 16px;
    font-family: inter;
    font-weight: 600;
}

.header-logo {
    margin-right: 20px;
}


.header-right {
    display: flex;
    align-items: center;
}

.phone {
   margin-right: 5px; 
}

.phone1 {
    margin-right: 30px;
    font-size: 16px;
    font-family: inter;
    font-weight: 500;
}

.heart1 {
    margin-right: 35px;
}

.frame3-button {
    display: flex;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-color: #f0b94d;
    background-color: #4b565e;
    border-radius: 23.5px;
    color: beige;
}

.light {
    height: 48px;
    background-color: #f0b94d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}

.light-left {
    display: flex;
    align-items: center;
}

.light-nav {
    display: flex;
    align-items: center;
}

.light-nav1 {
    margin-right: 20px;
    align-items: center;
    font-size: 14px;
    font-family: inter;
    font-weight: 600;
}

.light-right {
    display: flex;
    align-items: center;
}

.search-container {
    width: 400px;
    height: 28px;
    border-bottom: 1px solid #000;
    display: flex; 
}

.search-container-text {
    font-size: 16px;
    font-family: inter;
    font-weight: 600;
}

.lupa {
    margin-left: 100px;
}

.light-right-mosk {
    font-size: 15px;
    color: beige;
    margin-left: 10px;
}
