<h2>CREAT TODOS FORM</h2>
<form class="creatForm" [formGroup]="formTodo" (ngSubmit)="submitForm()">
    <div class="creatDiv">
        <p>Текст задачи</p>
        <input type="text" class="inputType" formControlName="title">
        <div *ngIf = "formTodo.controls['title'].invalid && (formTodo.controls['title'].dirty || formTodo.controls['title'].touched)">
            <div *ngIf = "formTodo.controls['title'].errors" style="color: red;">
                Текст задачи введен не правильно
            </div>
        </div>
        <p>Автор задачи</p>
        <input type="text" class="inputType" formControlName="userId">
        <div *ngIf = "formTodo.controls['userId'].invalid && (formTodo.controls['userId'].dirty || formTodo.controls['userId'].touched)">
            <div *ngIf = "formTodo.controls['userId'].errors" style="color: red;">
                Автор введен не правильно
            </div>
        </div>
        <p>Задача решена</p>
        <input type="text" class="inputType" formControlName="completed">
        <div *ngIf = "formTodo.controls['completed'].invalid && (formTodo.controls['completed'].dirty || formTodo.controls['completed'].touched)">
            <div *ngIf = "formTodo.controls['completed'].errors" style="color: red;">
                Ответ не корректный
            </div>
        </div>
        <button class="buttonType" [disabled]="formTodo.invalid">Create todo</button>
    </div>
</form>