
.userComponent {
    width: 200px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    box-shadow: 0px 20px 50px 0px #3c3c3b12;
}

.userButton {
    padding: 5px 10px;
    border: 1px solid #121211;
    border-radius: 20px;
    background-color: #ffffff;
    cursor: pointer;
}