<div class="header">
    <div>
        <div class="header-left">
            <div class="header-logo">
                <img src="/assets/Frame.svg" alt="image">
            </div>
            <nav class="header-nav">
                <div class="header-nav-item">Главная</div>
                <div class="header-nav-item">О компании</div>
                <div class="header-nav-item">Каталог</div>
            </nav>
        </div>
    </div>
    <div class="header-right">
        <div class="phone">
            <img src="/assets/Phone.svg" alt="phone">
        </div>
        <div class="phone1">+7(965)084-29-29</div>
        <div class="heart1">
            <img src="/assets/heart 1.svg" alt="heart1">
        </div>
        <div class="frame3">
            <button class="frame3-button">
                <img src="/assets/Mask group.svg" alt="phone">
                Пусто
            </button>
        </div>
    </div>
</div>
<div class="light">
    <div class="light-left">
        <div class="light-nav1">
            <span style="font-size:12px;cursor:pointer" onclick="openNav()">&#9776; Каталог</span>
        </div>
        <div >
            <nav class="light-nav">
                <div class="light-nav1">Стройматериалы</div>
                <div class="light-nav1">Инструменты</div>
                <div class="light-nav1">Электрика</div>
                <div class="light-nav1">Интерьер и одежда</div>
                
            </nav>
        </div>
    </div>
    <div class="light-right">
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Введите запрос">
            <span class="search-icon">&#128270;</span> 
        </div>
        <div class="light-right-mosk">
            Москва
        </div>
    </div>

</div>