<!-- <div class="header">
    <div>
        <div class="header-left">
            <div class="header-logo">
                <img src="/assets/Frame.svg" alt="image">
            </div>
            <nav class="header-nav">
                <div class="header-nav-item">{{headerItem1}}</div>
                <div class="header-nav-item">{{aboutCompany}}</div>
                <div class="header-nav-item" *ngIf = 'isShowCatalog'>{{headerItem3}}</div>
            </nav>
            <button (click) = 'isShowCatalog = !isShowCatalog'>Скрыть/Показать каталог</button>
            <button (click) = 'changeMenyText()'>Изменить текст</button>
        </div>
    </div>
    <div class="header-right">
        <div class="phone">
            <img src="/assets/Phone.svg" alt="phone">
        </div>
        <div class="phone1">+7(965)084-29-29</div>
        <div class="heart1">
            <img src="/assets/heart 1.svg" alt="heart1">
        </div>
        <div class="frame3">
            <button class="frame3-button">
                <img src="/assets/Mask_group_(1).svg" alt="phone">
                Пусто
            </button>
        </div>
    </div>
</div>
<div class="light">
    <div class="light-left">
        <div class="light-nav1">
            <span style="font-size:16px;cursor:pointer"> &#9776; </span>
        </div>
        <div >
            <nav class="light-nav">
                <div class="light-nav1" *ngFor = 'let item of menyItems'>{{item}}</div>
            </nav>
        </div>
    </div>
    <div class="light-right">
        <div class="search-container">
            <span class="search-container-text">
                Поиск например, круг зачистной
            </span>
            <div class="lupa">
                <img src="/assets/лупа.svg" alt="">
            </div>
        </div>           
        <div class="light-right-mosk">
            Москва
        </div>
    </div>

</div> -->
<!-- <button (click) = 'bigCartina = !bigCartina'>Скрыть/Показать картину</button>
<div class="big-portrait" *ngIf = bigCartina>
    <img src="\assets\Rectangle 5.png" alt="big-portrait" style="width: 100%;">
</div>
<div class="content-conteiner">
    <div class="frame1">
        <div class="frame2">
            <div class="frame2-left">
                <div class="frame2-left-img">
                    <img src="/assets/Mask_group.png" alt="">
                </div>
                <div>
                    <span class="frame-span">Большой ассортимент</span><br>
                    <span class="frame-span1">строительных материалов всегда в</span><br>
                    <span class="frame-span1">наличии</span>
                </div>
            </div>
        </div>
        <div class="frame2">
            <div class="frame2-left">
                <div class="frame2-left-img">
                    <img src="/assets/Mask_group_(1).png" alt="">
                </div>
                <div>
                    <span class="frame-span">Доставка стройматериалов</span><br>
                    <span class="frame-span1">в течении четырех часов или в</span><br>
                    <span class="frame-span1">любое удобное время</span>
                </div>
            </div> 
        </div>
        <div class="frame2">
            <div class="frame2-left">
                <div class="frame2-left-img">
                    <img src="/assets/Mask_group_(2).png" alt="">
                </div>
                <div>
                    <span class="frame-span1">Многоуровневая </span>
                    <span class="frame-span">система</span><br>
                    <span class="frame-span">контроля качеством </span>
                    <span class="frame-span1">по стандарту</span><br>
                    <span class="frame-span1">ISO 9001</span>
                </div>
            </div>
        </div>
    </div>
    <div class="group1">
        <div class="numbers">
                <button *ngFor = 'let item2 of newPages' class="numbers__button">{{item2}}</button>
        </div>
        <div class="blok">
            <div class="blok1">
                <div class="blok1-text">
                    Строительный отделочный инструмент
                </div>
                <div class="blok1-action">
                    <span class="blok1-action-sp">Перейти в каталог</span>
                    <a class="blok1-action-link">
                        <img src="/assets/Frame_20.svg" alt="">
                    </a>
                </div>
            </div>
            <div class="blok2">
                <div class="blok-in-blok1">
                    <div class="blok-in-blok1-text">
                       Эмали 
                    </div>
                    <div class="blok-in-blok1-text1">
                        <span>Перейти в каталог</span>
                        <a class="blok1-action-link1">
                            <img src="/assets/Frame_20.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="blok-in-blok2">
                    <div class="blok-in-blok1-text2">
                        <div>Лакокрасочные</div> 
                        <div>материалы</div> 
                     </div>
                     <div class="blok-in-blok1-text3">
                         <span>Перейти в каталог</span>
                         <a class="blok1-action-link1">
                             <img src="/assets/Frame_20.svg" alt="">
                         </a>
                     </div>
                </div>
                <div class="blok-in-blok3">
                    <div class="blok-in-blok1-text4">
                        <div>Пены, клеи и</div> 
                        <div>герметики</div>
                     </div>
                     <div class="blok-in-blok1-text3">
                         <span>Перейти в каталог</span>
                         <a class="blok1-action-link1">
                             <img src="/assets/Frame_20.svg" alt="">
                         </a>
                     </div>   
                </div>
                <div class="blok-in-blok4">
                    <div class="blok-in-blok1-text4">
                        Розетки и выключатели
                     </div>
                     <div class="blok-in-blok1-text1">
                         <span>Перейти в каталог</span>
                         <a class="blok1-action-link1">
                             <img src="/assets/Frame_20.svg" alt="">
                         </a>
                     </div>  
                </div>
            </div>
        </div>
    </div>
    <div class="katalog">
        <div class="katalog-height">
            <span class="katalog-height-text">Популярные товары</span>
            <span class="katalog-height-text1">Посмотреть все товары</span>
        </div>
        <div class="katalog-height-body">
            <div class="katalog-height-body1">
                <div class="katalog-height-body1-height">
                    <div class="katalog-height-body1-height1">
                        <img src="/assets/Скидки.png" alt="">
                        <img src="/assets/heart_1.png" alt="">
                    </div>
                </div>
                <span class="katalog-height-body1-height2">
                    Круг зачистной 125x6x22
                </span><br>
                <span>
                    Артикул 00004
                </span>
                <div class="katalog-height-body1-height3">
                    <span class="katalog-height-body1-height4">
                        цена за штуку
                    </span><br>
                    <span class="katalog-height-body1-height5">
                        52 руб.
                    </span>
                    <span class="katalog-height-body1-height6">
                        48 руб.
                    </span>
                </div>
                <div class="katalog-footer">
                    <img src="/assets/Frame_37.png" alt="">
                    <img src="/assets/Frame_37_(1).png" alt="">
                </div>
            </div>
            <div class="katalog-height-body1">
                <div class="katalog-height-body1-height">
                    <div class="katalog-height-body1-height1">
                        <img src="/assets/Скидки.png" alt="">
                        <img src="/assets/heart_1.png" alt="">
                    </div>
                </div>
                <span class="katalog-height-body1-height2">
                    Круг зачистной 125x6x22
                </span><br>
                <span>
                    Артикул 00004
                </span>
                <div class="katalog-height-body1-height3">
                    <span class="katalog-height-body1-height4">
                        цена за штуку
                    </span><br>
                    <span class="katalog-height-body1-height5">
                        52 руб.
                    </span>
                    <span class="katalog-height-body1-height6">
                        48 руб.
                    </span>
                </div>
                <div class="katalog-footer">
                    <img src="/assets/Frame_37.png" alt="">
                    <img src="/assets/Frame_37_(1).png" alt="">
                </div>
            </div>
            <div class="katalog-height-body1">
                <div class="katalog-height-body1-height">
                    <div class="katalog-height-body1-height1">
                        <img src="/assets/Frame_100.png" alt="">
                        <img src="/assets/heart_1.png" alt="">
                    </div>
                    <div class="katalog-height-body1-height1-1">
                        <img src="/assets/Скидки.png" alt="">
                    </div>
                </div>
                <span class="katalog-height-body1-height2">
                    Круг зачистной 125x6x22
                </span><br>
                <span>
                    Артикул 00004
                </span>
                <div class="katalog-height-body1-height3">
                    <span class="katalog-height-body1-height4">
                        цена за штуку
                    </span><br>
                    <span class="katalog-height-body1-height5">
                        52 руб.
                    </span>
                    <span class="katalog-height-body1-height6">
                        48 руб.
                    </span>
                </div>
                <div class="katalog-footer">
                    <img src="/assets/Frame_37.png" alt="">
                    <img src="/assets/Frame_37_(1).png" alt="">
                </div>
            </div>
            <div class="katalog-height-body1">
                <div class="katalog-height-body1-height">
                    <div class="katalog-height-body1-height1">
                        <img src="/assets/Frame_100.png" alt="">
                        <img src="/assets/heart_1.png" alt="">
                    </div>
                </div>
                <span class="katalog-height-body1-height2">
                    Круг зачистной 125x6x22
                </span><br>
                <span>
                    Артикул 00004
                </span>
                <div class="katalog-height-body1-height3">
                    <span class="katalog-height-body1-height4">
                        цена за штуку
                    </span><br>
                    <span class="katalog-height-body1-height6">
                        52 руб.
                    </span>
                </div>
                <div class="katalog-footer">
                    <img src="/assets/Frame_37.png" alt="">
                    <img src="/assets/Frame_37_(1).png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="Frame-50">
        <div class="Frame-50-haight">
            <span class="Frame-50-haight-text">
                БОЛЕЕ 10 000 НАИМЕНОВАНИЙ
            </span><br><br>
            <span class="Frame-50-haight-text1">
                Инструмент для вашего бизнеса, разнообразных марок
            </span>
        </div>
        <div class="Frame-50-haight1">
            <span class="Frame-50-haight-text2">
                Перейти в каталог
            </span>
        </div>
    </div>
    <div class="katalog">
        <div class="katalog-height">
            <span class="katalog-height-text">Новинки</span>
            <span class="katalog-height-text1">Посмотреть все товары</span>
        </div>
        <div class="katalog-height-body">
            <div class="katalog-height-body1">
                <div class="katalog-height-body1-height">
                    <div class="katalog-height-body1-height1">
                        <img src="/assets/Frame_100.png" alt="">
                        <img src="/assets/heart_1.png" alt="">
                    </div>
                </div>
                <span class="katalog-height-body1-height2">
                    Круг зачистной 125x6x22
                </span><br>
                <span>
                    Артикул 00004
                </span>
                <div class="katalog-height-body1-height3">
                    <span class="katalog-height-body1-height4">
                        цена за штуку
                    </span><br>
                    <span class="katalog-height-body1-height6">
                        52 руб.
                    </span>
                </div>
                <div class="katalog-footer">
                    <img src="/assets/Frame_37.png" alt="">
                    <img src="/assets/Frame_37_(1).png" alt="">
                </div>
            </div>
            <div class="katalog-height-body1">
                <div class="katalog-height-body1-height">
                    <div class="katalog-height-body1-height1">
                        <img src="/assets/Frame_100.png" alt="">
                        <img src="/assets/heart_1.png" alt="">
                    </div>
                </div>
                <span class="katalog-height-body1-height2">
                    Круг зачистной 125x6x22
                </span><br>
                <span>
                    Артикул 00004
                </span>
                <div class="katalog-height-body1-height3">
                    <span class="katalog-height-body1-height4">
                        цена за штуку
                    </span><br>
                    <span class="katalog-height-body1-height6">
                        52 руб.
                    </span>
                </div>
                <div class="katalog-footer">
                    <img src="/assets/Frame_37.png" alt="">
                    <img src="/assets/Frame_37_(1).png" alt="">
                </div>
            </div>
            <div class="katalog-height-body1">
                <div class="katalog-height-body1-height">
                    <div class="katalog-height-body1-height1">
                        <img src="/assets/Frame_100.png" alt="">
                        <img src="/assets/heart_1.png" alt="">
                    </div>
                </div>
                <span class="katalog-height-body1-height2">
                    Круг зачистной 125x6x22
                </span><br>
                <span>
                    Артикул 00004
                </span>
                <div class="katalog-height-body1-height3">
                    <span class="katalog-height-body1-height4">
                        цена за штуку
                    </span><br>
                    <span class="katalog-height-body1-height6">
                        52 руб.
                    </span>
                </div>
                <div class="katalog-footer">
                    <img src="/assets/Frame_37.png" alt="">
                    <img src="/assets/Frame_37_(1).png" alt="">
                </div>
            </div>
            <div class="katalog-height-body1">
                <div class="katalog-height-body1-height">
                    <div class="katalog-height-body1-height1">
                        <img src="/assets/Frame_100.png" alt="">
                        <img src="/assets/heart_1.png" alt="">
                    </div>
                </div>
                <span class="katalog-height-body1-height2">
                    Круг зачистной 125x6x22
                </span><br>
                <span>
                    Артикул 00004
                </span>
                <div class="katalog-height-body1-height3">
                    <span class="katalog-height-body1-height4">
                        цена за штуку
                    </span><br>
                    <span class="katalog-height-body1-height6">
                        52 руб.
                    </span>
                </div>
                <div class="katalog-footer">
                    <img src="/assets/Frame_37.png" alt="">
                    <img src="/assets/Frame_37_(1).png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Footer">
    <div class="Footer-big">
        <div class="Footer1">
            <div class="Footer1-blok1">
                <img src="/assets/Frame.png" alt="">
            </div>
            <div class="Footer1-blok2">
                <div class="Footer1-blok2-pone">
                    12
                </div>
                <div class="Footer1-blok2-pone-number">
                    <span class="Footer1-blok2-pone-number1">
                        Контактный телефон
                    </span><br><br>
                    <span class="Footer1-blok2-pone-number2">
                        + 7 (812) 309-09-34
                    </span><br><br>
                    <span class="Footer1-blok2-pone-number2">
                        + 7 (965) 084-29-09
                    </span>
                </div>
                <div class="Footer1-blok2-mail">
                    34
                </div>
                <div class="Footer1-blok2-pone-number">
                    <span class="Footer1-blok2-pone-number1">
                        Электронная почта
                    </span><br><br>
                    <span class="Footer1-blok2-pone-number2">
                        tustin78mail.ru
                    </span><br><br>
                    <span class="Footer1-blok2-pone-number2">
                        infotustin.ru
                    </span>
                </div>
            </div>
        </div>
        <div class="Footer2">
            <div class="Footer2-blok1">
                <div class="Footer1-blok2-mail-text">
                    <span class="Footer1-blok2-mail-text1">
                        Остались вопросы?
                    </span><br><br>
                    <span class="Footer1-blok2-mail-text2">
                        Узнайте первым о скидках, предложениях и событиях еженедельно в
                    </span><br><br>
                    <span class="Footer1-blok2-mail-text2">
                        своем почтовом ящике. Отпишись в любое время одним шелчком мыши.
                    </span>
                    <div class="Footer2-poisk">
                        <div class="Footer2-poisk-left">
                            <div class="Footer2-poisk-left-mail">
                                123
                            </div>
                            <span class="Footer2-poisk-left-text">
                                Введите свою почту
                            </span>
                        </div>
                        <div>
                            <button class="Footer2-button">
                                <span class="Footer2-button-text">
                                    Отправить
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Footer3">
        <div>
            <nav class="Footer3-blok-nav">
                <div>
                    <span class="Footer3-blok-nav1">
                        Главная
                    </span>
                </div>
                <div>
                    <span class="Footer3-blok-nav1">
                        О компании
                    </span>
                </div>
                <div>
                    <span class="Footer3-blok-nav1">
                        Каталог
                    </span>
                </div>
            </nav>
        </div>
        <div class="Footer3-footer">
            <span class="Footer3-footer-text">
                2021-2022,EDE
            </span>
        </div>
    </div>
</div> -->
<router-outlet></router-outlet>
